header{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(235, 235, 235);
}
#logo{
    margin: 0px 10px;
    height: 30px;
    text-decoration: none;
    font-size: 25px;
    font-weight: bolder;
    color: #b52e31;
}
#search{
    width: 100%;
}
#search-bar{
    margin: 0;
    height: 45px;
    width: calc(100% - 12px);
    border-radius: 2px;
    padding: 8px;
    font-size: 17px;
    font-weight: bold;
    border: 1px solid rgb(235, 235, 235);
}
#search-bar:focus{
    border: 1px solid #b52e31;
}

.conteudo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    margin-top: 30px;
}
.conteudo img{
    margin: 10px;
    height: 120px;
    width: 40%;
    border: 1px solid #b52e31;
}
@media (min-width: 610px) and (max-width: 900px) {
    .conteudo img{
        height: 150px;
        width: 33%;
    }
}
@media (min-width: 901px) and (max-width: 1280px) {
    .conteudo img{
        height: 200px;
        width: 33%;
    }
}
@media (min-width: 1281px) {
    .conteudo img{
        height: 250px;
        width: 25%;
    }
}
@media (min-width: 1025px) {
    #search-bar{
        width: 250px;
    }
}
